{%load static%}
<!-- Colunm Text Section Start -->
<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 80px;padding-bottom: 0px;margin-bottom: 0px;background: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main-post promo-box">
                    <div class="img-frame">
                        <figure><img src="{%static 'assets/extra-images/main-post-img-1.png'%}" alt="#">
                        </figure>
                    </div>
                    <div class="column-text">
                        <h3 style="color:#000000 !important;">FoodBakery in your mobile! Get our app
                        </h3>
                        <div class="promo-content">Get our app, it's the fastest way to order food
                            on the go.
                        </div>
                        <a class="app-btn" href="#"><img src="{%static 'assets/extra-images/app-img1-1.png'%}" alt=""></a>
                        <a class="app-btn" href=""><img src="{%static 'assets/extra-images/app-img2-1.png'%}" alt=""></a>
                        <form>
                            <div class="field-holder"><input class="field-input" type="email" placeholder="Your Email">
                                <label class="field-label-btn"><input class="field-btn" type="submit" value="Send Link"></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Colunm Text Section End -->
<!-- Client logo Section Start -->
<div class="page-section  nopadding cs-nomargin" style="margin-top: 0px;padding-top: 20px;padding-bottom: 10px;margin-bottom: 0px;background: #69bbc0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="company-logo simple">
                    <ul>
                        <li>
                            <figure><a href="#"><img src="{%static 'assets/extra-images/fb-clients-1.png'%}" alt=""></a></figure>
                        </li>
                        <li>
                            <figure><a href="#"><img src="{%static 'assets/extra-images/fb-clients-2.png'%}" alt=""></a></figure>
                        </li>
                        <li>
                            <figure><img src="{%static 'assets/extra-images/fb-clients-3.png'%}" alt=""></a></figure>
                        </li>
                        <li>
                            <figure><a href="#"><img src="{%static 'assets/extra-images/fb-clients-4.png'%}" alt=""></a></figure>
                        </li>
                        <li>
                            <figure><a href="#"><img src="{%static 'assets/extra-images/fb-clients-5.png'%}" alt=""></a></figure>
                        </li>
                        <li>
                            <figure><a href="#"><img src="{%static 'assets/extra-images/fb-clients-6.png'%}"  alt=""></a></figure>
                        </li>
                        <li>
                            <figure><a href="#"><img src="{%static 'assets/extra-images/fb-clients-7.png'%}" alt=""></a></figure>
                        </li>
                        <li>
                            <figure><a href="#"><img src="{%static 'assets/extra-images/fb-clients-8.png'%}" alt=""></a></figure
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Client logo Section End -->
<!-- Home Pages Elements End  -->