{%load static%}


<!-- Choose From Most Popular Section Start -->
<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 54px;padding-bottom: 36px;margin-bottom: 0px;background: #ebedf3;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="element-title align-center">
                    <h2>Choose From Most Popular</h2>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="testimonial default">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="text-holder">
                                <p>I love you, FoodBakery Just ordered me some grub, and I tell you,
                                    you folks
                                    make that part of my life easy.</p>
                                <div class="img-holder">
                                    <figure><img src="{%static 'assets/extra-images/testimonial-img1.jpg'%}" alt=""></figure>
                                </div>
                                <div class="author-detail">
                                    <div class="auther-name"><span>@mangafox</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="text-holder">
                                <p>Made my first @FoodBakery order today. So great to be able to
                                    order food and
                                    not have to talk to anyone.</p>
                                <div class="img-holder">
                                    <figure><img src="{%static 'assets/extra-images/testimonial-img2.jpg'%}" alt=""></figure>
                                </div>
                                <div class="author-detail">
                                    <div class="auther-name"><span>@mangafox</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="text-holder">
                                <p>Shout out to Food Bakery for making my life so so easy! Simply
                                    amazing and
                                    worth it for!</p>
                                <div class="img-holder">
                                    <figure><img src="{%static 'assets/extra-images/testimonial-img3.jpg'%}" alt=""></figure>
                                </div>
                                <div class="author-detail">
                                    <div class="auther-name"><span>@ReddPhoeno</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="text-holder">
                                <p>Seriously, @FoodBakery makes it easy for my coworkers and I to
                                    order food and
                                    get it to our office in a jiffy. FOOD!</p>
                                <div class="img-holder">
                                    <figure><img src="{%static 'assets/extra-images/testimonial-img4.jpg'%}" alt=""></figure>
                                </div>
                                <div class="author-detail">
                                    <div class="auther-name"><span>@HubWub</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose From Most Popular Section End -->