{%load static %}

<!-- Top Restarurants Section Start -->
<div class="page-section nopadding cs-nomargin" style="margin-top: 0px;padding-top: 60px;padding-bottom: 0px;margin-bottom: 0px;background: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="element-title align-left">
                    <h2>Top Restaurants</h2>
                    <p>Explore restaurants, bars, and cafés by locality</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="company-logo">
                    <ul>
                        <li class="has-border">
                            <figure>
                                <a href="#"><img src="{%static 'assets/extra-images/listing-logo18.png' %}" class="attachment-full size-full wp-post-image" alt=""></a>
                            </figure>
                        </li>
                        <li class="has-border">
                            <figure>
                                <a href="#"><img src="{%static 'assets/extra-images/fb-restaurant-02.jpg'%}" class="attachment-full size-full wp-post-image" alt=""></a>
                            </figure>
                        </li>
                        <li class="has-border">
                            <figure>
                                <a href="#"><img src="{%static 'assets/extra-images/fb-restaurant-04.jpg'%}" class="attachment-full size-full wp-post-image" alt=""></a>
                            </figure>
                        </li>
                        <li class="has-border">
                            <figure>
                                <a href="#"><img src="{%static 'assets/extra-images/fb-restaurant-06.jpg'%}" class="attachment-full size-full wp-post-image" alt=""></a>
                            </figure>
                        </li>
                        <li class="has-border">
                            <figure>
                                <a href="#"><img src="{%static 'assets/extra-images/xlisting-logo03.png.pagespeed.ic_.aT-o9LinEJ.png' %}" class="attachment-full size-full wp-post-image" alt=""></a>
                            </figure>
                        </li>
                        <li class="has-border">
                            <figure>
                                <a href="#"><img src="{%static 'assets/extra-images/listing-logo09.png'%}" class="attachment-full size-full wp-post-image" alt=""></a>
                            </figure>
                        </li>
                        <li class="has-border">
                            <figure>
                                <a href="#"><img src="{% static  'assets/extra-images/listing-logo18.png'%}" class="attachment-full size-full wp-post-image" alt=""></a>
                            </figure>
                        </li>
                        <li class="has-border">
                            <figure>
                                <a href="#"><img src="{% static 'assets/extra-images/fb-restaurant-09.png' %}" class="attachment-full size-full wp-post-image" alt=""></a>
                            </figure>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Restarurants Section End -->